@import url(./fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1190px;
    padding: 0 15px;
    width: 100%;
    height: 100%;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}


.header__menu {
    display: flex;
    gap: 40px;

}

.headmenu__link {
    font-family: 'Kodchasan-medium', sans-serif;
    font-size: 18px;
    color: black;
}

.headmenu__list:hover {
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 18px;
}

@media screen and (max-width:648px) {
    .header__wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

.mainbanner {
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
}

.honey__back {
    display: flex;
    justify-content: space-between
}

.background {
    border-radius: 30px;
    background: url(../IMG/logoback.png) no-repeat center, linear-gradient(76.02deg, #FF9D2D 1.66%, #FFD877 93.21%);
    padding: 130px 80px;
}

.mainbanner__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px
}

.mainbanner__txt {
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 100px;
    color: #0B0B0B;

}

.honey__back {
    display: flex;
    justify-content: space-between;
}

.btn__wrap {
    display: flex;
    gap: 30px;
}

.mainbanner__btn {
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 18px;
}

.licking {
    transform: translateX(17%)
}


.first__btn {
    background: black;
    color: white;
    padding: 18px 50px;
}

.second__btn {
    padding: 18px 50px;

}

.mainbanner__btn {
    border: 2px solid black;
    background: transparent;
    color: black;
    transition: 0.25s
}

.mainbanner__btn:hover {
    color: white;
    background: black;
}

@media screen and (max-width:1420px) {
    .mainbanner {
        display: flex;
        justify-content: center;
        padding-bottom: 130px;
    }

    .background {
        border-radius: 30px;
        background: url(../IMG/logoback.png) no-repeat center, linear-gradient(76.02deg, #FF9D2D 1.66%, #FFD877 93.21%);
        padding: 40px;
    }

    .mainbanner__img {
        width: 500px;
        height: 100%;
    }

    .mainbanner__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 70px
    }

    .mainbanner__txt {
        font-family: 'Kodchasan-bold', sans-serif;
        font-size: 60px;
        color: #0B0B0B;
    }

    .btn__wrap {
        display: flex;
        gap: 30px;
    }

    .mainbanner__btn {
        font-family: 'Kodchasan-bold', sans-serif;
        font-size: 13px;
    }

    .first__btn {
        background: black;
        color: white;
        padding: 13px 40px;
    }

    .second__btn {
        padding: 13px 30px;
    }
}

@media screen and (max-width:836px) {
    .mainbanner__img {
        width: 0;
    }

    .background {
        border-radius: 30px;
        background: url(../IMG/logoback.png) no-repeat center/contain, linear-gradient(76.02deg, #FF9D2D 1.66%, #FFD877 93.21%);
        padding: 30px 200px;
        position: relative;
    }

    .mainbanner__txt {
        transform: translateX(-30%)
    }

    .mainbanner__txt::after {
        content: "";
        position: absolute;
        background: url(../IMG/mainbanner.png) no-repeat center/contain;
        width: 300px;
        height: 270px;
        right: 0px;
        top: -15px;
        transform: translateX(46%);
    }
}

@media screen and (max-width:648px) {
    .mainbanner__img {
        width: 0;
    }

    .background {
        border-radius: 30px;
        background: url(../IMG/logoback.png) no-repeat center/contain, linear-gradient(76.02deg, #FF9D2D 1.66%, #FFD877 93.21%);
        padding: 30px 70px;
    }

    .mainbanner__left {
        gap: 300px
    }

    .mainbanner__txt {
        transform: translateX(10%);
        position: relative;
    }

    .mainbanner__txt::after {
        content: "";
        position: absolute;
        background: url(../IMG/mainbanner.png) no-repeat center/contain;
        width: 300px;
        height: 270px;
        right: 185px;
        top: 266px;
    }
}
@media screen and (max-width:490px){
    .mainbanner__txt{
        transform: translateX(-5%);
    }
    .background{
        padding: 30px 50px;
    }
    .mainbanner__txt::after{
        right: 90px;
        top: 266px;
    }
    .btn__wrap{
        flex-direction: column
    }
}

.trustedshops {
    padding-bottom: 131px;
}

.trustedshops__h2 {
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 45px;
    padding-bottom: 52.77px;
}

.trustedshops__logos {
    display: flex;
    gap: 101.7px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.banner1__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midbanner__right {
    padding-top: 205px;
}

.midbanner__h2 {
    max-height: 130px;
    height: 100%;
    width: 100%;
    max-width: 548px;
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 45px;
    line-height: 45px;
    text-align: left;
    margin-bottom: 30px;
}

.midbanner__text {
    height: auto;
    max-width: 516px;
    width: 100%;
    font-family: 'Kodchasan-semibold', sans-serif;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 50px;
    opacity: 0.7;
}

.midbanner__btn {
    padding: 15px 40px;
    border: none;
    background: #E68311;
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 18px;
    color: white;
    transition: 0.25s
}

.midbanner__btn:hover {
    background: rgb(253, 83, 5)
}

.banner1__img {
    width: 700px;
    height: 100%;
}

.banner2__img {
    width: 700px;
    height: 100%;
}


.banner2__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 120px;
}

.lastbanner__left {
    padding-top: 205px;
}

@media screen and (max-width:1420px) {
    .banner1__img {
        width: 500px;
        height: 100%;
    }

    .banner2__img {
        width: 500px;
        height: 100%;
    }
}

@media screen and (max-width:836px) {
    .banner1__wrap {
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .banner1__wrap::after {
        content: "";
        position: absolute;
        background: url(../IMG/1banner.png) no-repeat center/contain;
        width: 200px;
        height: 200px;

    }

    .banner2__wrap::after {
        content: "";
        position: absolute;
        background: url(../IMG/2banner.png) no-repeat center/contain;
        width: 200px;
        height: 200px;

    }

    .banner2__wrap {
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .midbanner__h2 {
        margin-bottom: 200px;
    }

    .midbanner__right {
        padding-top: 50px;
    }

    .lastbanner__left {
        padding-top: 50px;
    }


    .banner1__img {
        width: 0px;
        height: 100%;
    }

    .banner2__img {
        width: 0px;
        height: 100%;
    }
}

.ourproduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;
}

.products {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center
}

.ourproduct__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}

.ourproduct__h2 {
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 45px;
}

.ourproduct__link {
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 18px;
    color: #E58211;
}

.products {
    flex-wrap: wrap;
}

.product {
    display: flex;
    background: #fdf6ee;
}

.product__left {
    padding-left: 30px;
    padding-top: 45px;
}

.firstproduct__img {
    margin-top: 29px;
}

.product__h2 {
    font-family: 'Kodchasan-semibold', sans-serif;
    font-size: 28px;
    line-height: 39px;
}

.product__text {
    font-family: 'Kodchasan-semibold', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    padding: 20px 0;
    margin-bottom: 40px;
}

.fproduct__text {
    max-height: 78px;
    max-width: 312px;
    width: 100%;
    height: 100%;
}


.sproduct__text {
    max-height: 78px;
    max-width: 324px;
    width: 100%;
    height: 100%;
}

.product__btn {
    border: 2px solid #E58211;
    background: transparent;
    color: #E58211;
    transition: 0.25s;
    font-family: 'Kodchasan-bold', sans-serif;
    font-size: 18px;
    padding: 10px 30px;
}

.product__btn:hover {
    color: #fdf6ee;
    background: #E58211;
}

.secondproduct__img {
    margin: 43px 40px;
}

.ourproduct__link:hover {
    text-decoration: none
}

@media screen and (max-width:648px) {
    .secondproduct__img {
        width: 0;
        height: 0;
        margin: 0;
    }

    .firstproduct__img {
        width: 0;
        height: 0;
        margin: 0;
    }
    .product__left{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .product{
        padding: 40px;
    }
    
    .product__h2{
        margin-bottom: 200px;
        position: relative;
    }
    
    .pr_f::after{
        content: "";
        position: absolute;
        background: url(../IMG/firstproduct.png) no-repeat center/contain;
        width: 200px;
        height: 300px;
        left: 20px;
        top: 0px;
        
    }
    .pr_s::after{
        content: "";
        position: absolute;
        background: url(../IMG/secondproduct.png) no-repeat center/contain;
        width: 200px;
        height: 200px;
        left: 20px;
        top: 50px;
        
    }
}

.footer {
    background: linear-gradient(76.02deg, #FF9D2D 1.66%, #FFD877 93.21%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
}

.buttons__img {
    height: 41.27px;
    width: 139.06px;
}

.footer__log {
    height: 28.62px;
    width: 66px;

}

.facebook {
    height: 19.74px;
    width: 9.87px;
}

.twitter {
    height: 19.74px;
    width: 23.85px;
}

.google {
    height: 18.10px;
    width: 27.15px;
}

.pinterest {
    height: 20.56px;
    width: 15.63px;
}

.footer__txt {
    font-family: 'Kodchasan-medium', sans-serif;
    font-size: 14px;
    line-height: 22px;
    max-height: 47px;
    max-width: 269px;
    width: 100%;
    opacity: 0.7;
    margin-left: 50px;
}

.footer__icons {
    display: flex;
    gap: 40px;
}

@media screen and (max-width:1000px) {
    .footer__buttons {
        display: flex;
        flex-direction: column
    }

    .footer__icons {
        gap: 30px;
    }
}

@media screen and (max-width:836px) {
    .footer {
        flex-direction: column;
        gap: 30px
    }
}




@media screen and (max-width:1420px) {
    .ourproduct__top {
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 20px;
    }
}